#bg{
	-fx-background-color: white;
	-fx-background-image: url(cover.png);
}

#label_title{
	-fx-opacity: 0.9;
}

.button {
    -fx-background-color: FireBrick;
	-fx-background-radius: 25;  
	-fx-border-radius: 25;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);  
}
.button:hover {
    -fx-background-color: DarkRed;
}